<h1>Users</h1>
<table class='table table-striped'>
  {{#each controller}}
    <tr>
      <td>{{id}}</td>
      <td>{{#linkTo 'users.show' this}}{{fullName}}{{/linkTo}}</td>
    </tr>
  {{/each}}
</table>
{{outlet}}
